name: weather_cache
description: That one is created as an example of Picodata's plugin
version: {{ version }}
services:
  - name: weather_service
    description: This service provides HTTP route for a throughput weather cache
    default_configuration:
      ttl: 30
      timeout: 5
migration:
{% for migration in migrations -%}
    - {{ migration }}
{%- endfor %}

